%header
  %h1
    = render :partial => 'layouts/back_button'
  %nav
    %ul{:style=>"margin-left: 318px;"}
      %li
        %a.three{:href => "/brand_partners/show_versus/#{@versus.id}/#{Product::BLOCK_IMAGE_NAME["top_banner"]}", :class=> set_activate_tab(@selected_tab,Product::BLOCK_IMAGE_NAME["top_banner"])} Top Banner
      %li
        %a.five{:href => "/brand_partners/show_versus/#{@versus.id}/#{Product::BLOCK_IMAGE_NAME["background"]}", :class=> set_activate_tab(@selected_tab,Product::BLOCK_IMAGE_NAME["background"])} Background
      %li
        %a.six{:href => "/brand_partners/question/#{@versus.id}/#{session_question}/#{Product::BLOCK_IMAGE_NAME["versus_left"]}", :class=> set_activate_tab(@selected_tab,Product::BLOCK_IMAGE_NAME["versus_left"])} Versus Left
      %li
        %a.seven{:href => "/brand_partners/question/#{@versus.id}/#{session_question}/#{Product::BLOCK_IMAGE_NAME["versus_right"]}", :class=> set_activate_tab(@selected_tab,Product::BLOCK_IMAGE_NAME["versus_right"])} Versus Right           
  %p.quesSty
    %a{:href => "/brand_partners/versus_question/#{@versus.id}/#{session_question}",}
      %img{:alt => "Your Question", :src => "/images/btn_question.png"}/
