%header
  %h1
    %a{:href => "/"}
      %img{:alt => "The Stash Box", :height => "38", :src => "/images/logo_head.png", :width => "40"}/
  %nav
    %ul
      %li
        = link_to 'How it works', '/how_it_works', :class => 'one'
      %li
        = link_to 'Membership', '/membership', :class => 'two'
      %li
        = link_to 'Blog', '/blog', :class => 'three'
      %li
        = link_to 'Twitter', '/twitter', :class => 'four'
      %li
        = link_to 'Who we are', '/who_we_are', :class => 'five'
      %li
        = link_to 'Contact', '/contact', :class => 'six'
      %li
        = link_to 'Members Login', '/members_login', :class => 'seven'
