%section.secTwo
  #logoOne
    %img{:alt => "Logo One", :src => "#{@product.logo_one.url(:medium)}"}/
  #topBanner
    %img{:alt => "Top Banner", :src => "#{@product.top_banner.url(:medium)}"}/
  #bgImgBlock
    .mapwrapper_bg{:style => "height:240px;"}
      #viewport_bg
        .current-map-layer{:style => "background: url('#{@product.background.url(:medium)}') no-repeat scroll 0% 0% transparent; width: 614px; height: 269px;"}
          / top level map content goes here
        %div{:style => "height: 1600px; width: 2560px;"}
          = image_tag @product.background.url(:medium)
          .mapcontent
            / map content goes here
      #viewport{:style => "display: none;"}
        %img{:alt => "background image", :src => "#"}/
    #versusBlock{:style => "position:absolute;top:74px;left:16px;"}
      #versusLeft.versusLeft_set
        %img{:alt => "Versus Left", :src => "#{@product.versus_left.url(:medium)}"}/
      #versusRight.versusRight_set
        %img{:alt => "Versus Right", :src => "#{@product.versus_right.url(:medium)}"}/
  #bottomBannerBlock{:style=>"background-color:#{@product.bottom_banner_color}"}
    #bannerTxt
      #quizBlock_bg QUESTION
#logo2Block
  #logoTwo
    %img{:alt => "Logo Two", :src => "#{@product.logo_two.url(:medium)}"}/
:javascript
  $(document).ready(function() {setPanelControls('#viewport_bg');	});