.about_content
  .about_middle
    %ul
      %li
        %a{:href => "javascript:void(0)"}
          = link_to image_tag("/images/Sherif_Shalaby_img.png"), tsb_who_we_are_path(:sherif_shalaby)
      %li
        %a{:href => "javascript:void(0)"}
          = link_to image_tag("/images/Taylor_Mason_img.png"), tsb_who_we_are_path(:taylor_mason)
      %li
        %a{:href => "javascript:void(0)"}
          = link_to image_tag("/images/Russ_Seyfert_img.png"), tsb_who_we_are_path(:russ_seyfert)
      %li
        %a{:href => "javascript:void(0)"}
          = link_to image_tag("/images/Jet_Landis_img.png"), tsb_who_we_are_path(:jet_landis)
      %li
        %a{:href => "javascript:void(0)"}
          = link_to image_tag("/images/Melinda_Lin_img.png"), tsb_who_we_are_path(:melinda_lin)
      %li
        %a{:href => "javascript:void(0)"}
          = link_to image_tag("/images/Ketty_Maisonrouge_img.png"), tsb_who_we_are_path(:ketty_maisonrouge)
      .clear
    .about_txt_row The War Cabinet
    %ul
      %li
        %a{:href => "javascript:void(0)"}
          = link_to image_tag("/images/Felicia_zhang_img.png"), tsb_who_we_are_path(:felicia_zhang)
      %li
        %a{:href => "javascript:void(0)"}
          = link_to image_tag("/images/Brandon_Sears_img.png"), tsb_who_we_are_path(:brandon_sears)
      %li
        %a{:href => "javascript:void(0)"}
          = link_to image_tag("/images/Andrew_Stephen_img.png"), tsb_who_we_are_path(:andrew_stephen)
      %li
        %a{:href => "javascript:void(0)"}
          = link_to image_tag("/images/Fiona_Lazar_img.png"), tsb_who_we_are_path(:fiona_lazar)
  .clear
