:css
  .ui-dialog.vimeo_video {
    background-image: url("../images/video_bg.png") !important;
  }
  .ui-dialog {
    background-image: url("../images/error_popup.png") !important;
  }
  .ui-dialog.vimeo_video .ui-dialog-titlebar-close {
    margin: -6px 10px 0;
  }
  .ui-dialog .ui-dialog-titlebar-close {
    margin: 26px 40px 0;
  }
  .privacy_layout_last_row {
   width:867px;
   height:20px;
   margin-top:10px;
  }

  .privacy_layout_last_link {
   width:200px;
   height:20px;
   font:italic normal 12px "Times New Roman", Times, serif;
   color:#333333;
   margin:0 auto 0px auto;
  }

  .privacy_layout_last_link a {
   width:auto;
   height:20px;
   float:left;
   color:#000;
   text-decoration:none;
   margin:0px 0px 0px 0px;
  }
  .myclass{
   height: auto;
   margin-left: 25px;
   text-align: center;
   width: 260px;  
  }
-if action_name == "index" and Settings.tsb_join_homepage?
  = javascript_include_tag 'tsb_join_homepage.js'
  #black_bg
    #door_left
    #door_right
  #door_left_visible
  #door_right_visible
- else
  = javascript_include_tag 'homepage'
#main
  %img{:alt => "The Stash Box", :height => "198", :src => "images/logo_tsb.png", :width => "516"}/
  %p.mgsIntro Give us your email address and we'll give you early tips on membership codes and all the latest happenings at THE STASH BOX
  #member_code_super
    #stashbox_image_bttn
      =link_to image_tag("Member_Code_Homepage_button.png"), member_survey_have_code_path
  = render :partial => 'subscribers/form'
  %ul.buttons.social
    %li
      %a{:href => "http://www.facebook.com/pages/theSTASHboxcom/206050779412740",:target=>"_blank"}
        %img{:alt => "Find The Stash Box on Facebook", :height => "140", :src => "images/icon-facebook.png", :width => "137"}/
    %li
      %a{:href => "http://twitter.com/#!/the_stashbox",:target=>"_blank"}
        %img{:alt => "Follow us on Twitter", :height => "140", :src => "images/icon-twitter.png", :width => "137"}/
  %img{:alt => "Join The Stash Box", :height => "107",:style=>"cursor: pointer;", :src => "images/logo-joinus_new.png", :width => "274",:onclick=>"openVideo(this,5);"}/
  .privacy_layout_last_row
    .privacy_layout_last_link
      %a{:href => "#{tsb_term_of_uses_path}"} Terms of Use
      %a{:style=>"width: 24px;"}
      %a{:href => "#{tsb_privacy_path}"} Privacy Policy  
#popup1.popupbox
  .myclass
    - if @subscriber.errors.any?
      %h2{:style=>"margin: 128px 10px 10px 10px;font-size: 17px;"} #{@subscriber.errors.full_messages[0] rescue ""}
    - else
      %h2{:style=>"margin: 128px 10px 10px 10px;font-size: 13px;"} YOUR CURIOSITY WILL SOON BE REWARDED
#popup5.popupbox
  #play_video
    %iframe{:allowFullScreen => "", :frameborder => "0", :src => "http://player.vimeo.com/video/30886867",:class=>"video_dimension",:id=>"iframe_video"}
/#popup6.popupbox
/%img{:alt => "thestashbox offer", :style=>"margin-top:25px;", :src => "images/emailScavHunt.jpg"}/
%script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"}
%script{:src => "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"}
%script{:src => "javascripts/jquery-cookie.js"}
= javascript_include_tag 'how_it_works'
-if action_name == "create"
  :javascript
    $("#popup1").dialog({ modal:true ,resizable: false,position: [533,287] ,dialogClass: 'myclass'});
