:css
  section.promo_shadow {
    background:none repeat scroll 0 0 #FFFFFF;
    float:left;
    height:459px;
    margin:0 0 0 15px;
    width:760px;
    box-shadow: 10px 10px 5px #666;
    border: 3px solid #666 !important;
  }
  .blue_border_versus {
    border:0px solid black !important;
    cursor:pointer;
  }
#main
  #blockLeft{:style=>"width:500px;margin-bottom:20px;"}
    - if @selected_tab != 'bottom_banner'
      %section.secOne
        - if @selected_tab == 'versus_question'
          #secOneBlock
            .tit #{@selected_tab.gsub("_"," ")}
            = form_for(@product, :url =>brand_partners_save_versus_question_path,:html =>  {:enctype => "multipart/form-data",:id=>"image_upload_question_id",:multipart => true, :style => " top:0px; position: relative; z-index: 100; height: 0px;"}) do |f|
              %input#files{:size => "13", :type => "file", :name=> "question[question_image]",:style=>"opacity:0.0; filter:alpha(opacity=0);", :onchange=>"hide_image();"}
              %input{:type => "hidden",:value=>"",:name=>"removed",:id=>"is_removed"}/
              %input{:type => "hidden",:value=>"#{@selected_tab}",:name=>"img_block"}/
              %input{:type => "hidden",:value=>"#{params[:question_no] || 1}",:name=>"question[question_no]",:id=>"question_no"}/
              %input{:type => "hidden",:value=>"#{@versus.id}",:name=>"versus_id"}/
              %input{:size => "13", :type => "submit",:value=>"upload",:style=>"margin-left:100px;"}/
            .chooseImgBtn
            .chooseImgBtnNoBackground
            .chooseImgTxt image requirements
            .removeImg remove image 
        - if @selected_tab != 'versus_question' and @selected_tab != 'bottom_banner'
          #secOneBlock
            .tit #{@selected_tab.gsub("_"," ")}
            =form_for(@product, :url =>brand_partners_save_versus_question_path,:html =>  {:enctype => "multipart/form-data",:id=>"image_upload_question_id",:multipart => true, :style => " top:0px; position: relative; z-index: 100; height: 0px;"}) do |f|
              %input#files{:size => "13", :type => "file", :name=> "question[#{@selected_tab}]",:style=>"opacity:0.0; filter:alpha(opacity=0);", :onchange=>"hide_image();"}
              %input{:type => "hidden",:value=>"",:name=>"removed",:id=>"is_removed"}/
              %input{:type => "hidden",:value=>"#{@selected_tab}",:name=>"img_block"}/
              %input{:type => "hidden",:value=>"#{params[:question_no] || 1}",:name=>"question[question_no]",:id=>"question_no"}/
              %input{:type => "hidden",:value=>"#{@versus.id}",:name=>"versus_id"}/
              %input{:size => "13", :type => "submit",:value=>"upload",:style=>"margin-left:100px;"}/
            .chooseImgBtn
            .chooseImgBtnNoBackground
            .chooseImgTxt image requirements
            .removeImg remove image
    - if @selected_tab == 'bottom_banner'
      %section.bannerLeft
        #bannerLeftBlock
          .tit BOTTOM BACKGROUND
          #colorSelector
            .fontColor
    %section.secFour{:style=>"margin-top:0px;margin-left:20px;"}
      #secFourBlock
        .tit IMAGE REQUIREMENTS
        .txt1 File formats: #{ApplicationHelper::IMAGE_FORMAT}
        .txt2 File dimension: #{get_file_dimension(params[:img_block])}
  #blockRight{:style => "position:relative;margin-left: 30px;"}
    =render :partial=>@selected_tab
    %section.secThree{:style=>"margin-top:17px;width:780px;"}
      #saveBlock
        - if @selected_tab == 'versus_question'
          %input.saveBtnSty{:name => "save", :type => "button",:onclick=>"$('#image_upload_question_id').submit();"}/
        - elsif @selected_tab == 'bottom_banner'
          %input.saveBtnSty{:name => "save", :type => "button",:onclick=>"save_bottom_banner();"}/
        - else
          %input.saveBtnSty{:name => "save", :type => "button",:onclick=>"save_versus_image();"}/
      #continueBlock
        =button_to "", "/brand_partners/show_reward_link/#{@versus.id}/deal_image",:class => "continueBtnSty", :method => :get
  / #main
  %input#slider{:type => "hidden", :value => "0"}/
=javascript_include_tag "versus_left_right"
