= stylesheet_link_tag "/stylesheets/promo_versus_second.css"
:css
  .ui-state-hover .ui-icon, .ui-state-focus .ui-icon {background-image: url(""); }
  .ui-dialog {
      background-color: Transparent;
      background-image: url("../images/error_popup.png") !important;
      background-position: center center;
      background-repeat: no-repeat;
      border: medium none !important;
      height: 214px !important;
      width: 275px !important;
  }
  
  @font-face {
    font-family:'the_last_font';
    src: url('../fonts/lastfontwastingonyou.eot?') format('eot'),
         url('../fonts/lastfontwastingonyou.woff') format('woff'),
         url('../fonts/lastfontwastingonyou.ttf') format('truetype'),
         url('../fonts/lastfontwastingonyou.svg') format('svg');
  }
  @font-face {
    font-family: 'TheLastFont';
    src: url('../fonts/lastfontwastingonyou.eot?') format('eot'),
         url('../fonts/lastfontwastingonyou.woff') format('woff'),
         url('../fonts/lastfontwastingonyou.ttf') format('truetype'),
         url('../fonts/lastfontwastingonyou.svg') format('svg');
   }

  .clr{
    clear:both;
   }
  .promo_page_main {
    width:800px;
    height:auto;
    margin:0px auto;
  }

  .promo_page_laft_part {
  width:292px;
  height:550px;
  background:url(../images/promo_page2_sprite_imgnew.png) no-repeat left top;
  float:left;
  margin:35px 0px 0px 0px;
  }

  .promo_left_product_imgbox {
  width:250px;
  height:224px;
  background:url(../images/promo_page2_sprite_imgnew.png) no-repeat left -560px;
  margin:30px 0px 0px 24px;
  padding:0px 0px 0px 6px;
  }

  .Promo_Dessert_left_product_img {
  width:222px;
  height:auto;
  padding:12px 0px 0px 0px;
  margin-left:2px;
  text-align:center;
  }

  .Promo_Dessert_left_product_txt {
  width:231px;
  height:auto;
  font:normal 16px "TheLastFont", Arial, Helvetica, sans-serif;
  color:#000;
  text-align:center;
  margin-top:-2px;
  }

  .Promo_Dessert_left_product_txt span {
  font-size:30px;
  }

  .promo_left_middle_box {
  width:251px;
  height:138px;
  background:url(../images/promo_dessert_left_middle_bg.png) no-repeat;
  margin:-4px 0px 0px 22px;
  padding:10px 0px 0px 6px;
  }

  .Promo_Dessert_left_middle_txt1 {
  width:250px;
  height:auto;
  font:italic 16px  "TheLastFont", Arial, Helvetica, sans-serif;
  color:#000;
  text-align:center;
  margin:0px 0px 0px 0px;
  }

  .Promo_Dessert_left_middle_txt1 span {
  font:italic 16px  "TheLastFont", Arial, Helvetica, sans-serif;
  color:#d98726;
  line-height:20px;
  }

  .Promo_Dessert_left_middle_txt2 {
  width:226px;
  height:22px;
  font:italic bold 18px "TheLastFont", Arial, Helvetica, sans-serif;
  color:#d67707;
  text-align:center;
  }

  .Promo_Dessert_left_middle_txt3 {
  width:250px;
  height:20px;
  font:italic 18px "TheLastFont", Arial, Helvetica, sans-serif;
  color:#000;
  text-align:center;
  margin-top:-10px;
  }

  .Promo_Dessert_left_middle_txt3 span {
  font-size:28px;
  }

  .promo_left_bottom_box {
  width:251px;
  height:121px;
  background:url(../images/promo_page2_sprite_imgnew.png) no-repeat -517px -631px;
  margin:0px 0px 0px 24px;
  padding:7px 0px 0px 0px;
  }

  .Promo_Dessert_left_bottm_img {
  width:250px;
  height:36px;
  margin:10px auto 0px auto;
  text-align:center;
  }

  .promo_left_bottm_txt {
  width:225px;
  height:auto;
  font:italic normal 18px  "TheLastFont", Arial, Helvetica, sans-serif;
  color:#000;
  text-align:center;
  margin:10px 0px 0px 8px;
  }

  .promo_left_bottm_txt span {
  font-size:24px;
  }
  
  .promo_page_right_part {
    width:477px;
    height:605px;
    background:url(../images/promo_page2_sprite_imgnew.png) no-repeat -305px top;
    float:right;
    margin:0px 0px 0px 30px;
  }
  .promo_close_row {
    width:477px;
    height:30px;
  }
  .promo_close {
    width:28px;
    height:27px;
    float:right;
    margin:20px 25px 0px 0px;
  }
  .promo_close a {
    width:28px;
    height:27px;
    background:url(../images/promo_page2_sprite_imgnew.png) no-repeat -860px -513px;
    display:block;
  }
  .promo_right_heading {
    width:477px;
    height:30px;
    font:normal 16px "Trajan Pro";
    color:#a52700;
    margin:20px 0px 0px 35px;
  }
  .promo_right_box1 {
    width:420px;
    height:94px;
    background:url(../images/promo_page2_sprite_imgnew.png) no-repeat -787px -13px;
    margin:0px 0px 0px 30px;
    padding:12px 0px 0px 0px;
  }
  .promo_right_topbox_row1 {
    width:477px;
    height:auto;
    font:italic normal 18px "the_last_font", Arial, Helvetica, sans-serif;
    color:#000;
    margin:-12px 0px 0px 20px;
  }
  .promo_right_topbox_row1 span {
    font-size:40px;
  }
  .promo_right_topbox_row2 {
    width:400px;
    height:auto;
    margin:5px 0px 0px 15px;
  }
  .promo_topbox_left_txt {
    width:477px;
    height:20px;
    font:italic normal 18px "the_last_font", Arial, Helvetica, sans-serif;
    color:#000;
    float:left;
    margin:-15px 0px 0px 30px;
  }
  .promo_topbox_left_txt span {
    font-size:23px;
  }
  .promo_topbox_right_txt {
    width:110px;
    height:20px;
    background:url(../images/promo_page2_sprite_img.png) no-repeat -1009px -648px;
    float:left;
    margin:0px 0px 0px 30px;
  }
  .promo_video_box {
    width:420px;
    height:236px;
    background:url(../images/promo_page2_sprite_imgnew.png) no-repeat -787px -123px;
    margin:0px 0px 0px 30px;
  }
  .promo_right_bottm_box {
    width:419px;
    height:129px;
    background:url(../images/promo_page2_sprite_imgnew.png) no-repeat -786px -363px;
    margin:5px 0px 0px 30px;
    padding:10px 0px 0px 0px;
  }
  .promo_right_bottmbox_heading {
    width:400px;
    height:auto;
    font:italic normal 22px "the_last_font", Arial, Helvetica, sans-serif;
    color:#a52700;
    text-align:center;
    margin:10px 0px 0px 0px;
  }
  .promo_right_signup_heading {
    width:400px;
    height:20px;
    font:italic normal 16px "the_last_font", Arial, Helvetica, sans-serif;
    color:#000;
    text-align:center;
  }
  .promo_right_signup_row {
    width:400px;
    height:23px;
    margin:5px 0px 0px 45px;
  }
  .promo_right_field_part {
    width:195px;
    height:23px;
    float:left;
  }
  .promo_right_field {
    width:195px;
    height:23px;
    border:solid 1px #000;
  }
  .promo_signup_field_bg {
    width:256px;
    height:32px;
    font:normal 12px "Trajan Pro";
    text-align:right;
    background:url(../images/promo_page2_sprite_imgnew.png) no-repeat -816px -556px;
    border:none;
    padding-right:5px;
  }
  .promo_right_signup_bttn {
    width:69px;
    height:29px;
    background:url(../images/promo_page2_sprite_imgnew.png) no-repeat -1097px -557px; 
    float:left;
    margin:0px 0px 0px 85px;
  }
  .promo_signup_bttn_bg {
    width:69px;
    height:29px;
    opacity:0;
    filter:alpha(opacity=0);
    cursor:pointer;
  }
  .video_div_new{
    margin-left: 15px;
    padding-top: 15px;
  }
.promo_page_main{:style=>"padding-top:40px;"}
  .promo_page_laft_part
    .promo_left_product_imgbox
      .Promo_Dessert_left_product_img
        %img{:alt => "", :border => "0", :src => "/images/Largde_Desserts_img.png"}/
        .clr
      .Promo_Dessert_left_product_txt
        %span> 10%
        &nbsp;Off Large Desserts
    .promo_left_middle_box
      .Promo_Dessert_left_middle_txt1
        %span
          Simply stop  by and use
          %br/
          your whisper code!
        %br/
        Whisper Code:
      .Promo_Dessert_left_middle_txt2 Stashcookie
      .Promo_Dessert_left_middle_txt3
        Nov. 
        = succeed "st" do
          %span 1 
        \- Nov.
        = succeed "th" do
          %span 8
    .promo_left_bottom_box
      .Promo_Dessert_left_bottm_img
        %a{:href => "http://dt-works.net/"}
          %img{:alt => "", :border => "0", :src => "/images/dessert_truck_bttn.png"}/
      .promo_left_bottm_txt
        %span 6
        clinton /
        %span 212.228.0701
  .promo_page_right_part
    .promo_close_row
      .promo_close
        =link_to "",tsb_join_path
    .promo_right_heading Check Out What a Full Versus is Like Below!
    .promo_right_box1
      .promo_right_topbox_row1
        %span 25
        \-
        = succeed "Free" do
          %span 100
        Items Up for Grabs Versus!
      .promo_right_topbox_row2
        .promo_topbox_left_txt
          Exclusive Promos
          %span •
          Private Sales
    .promo_video_box
      .video_div_new
        %iframe{:allowFullScreen => "", :width=>"384px",:height=>"198px",:frameborder => "0", :src => "http://player.vimeo.com/video/30886867",:class=>"video_dimension"}
    .promo_right_bottm_box
      .promo_right_bottmbox_heading Want to become a Member?
      .promo_right_signup_heading Sign up Below
      .promo_right_signup_row
        = form_for @member_choice, :url=> "#{params[:member_selection]}" do |f|
          .promo_right_field_part
            = f.text_field :email,:class=>"promo_signup_field_bg",:placeholder=>"Email",:style=>"font-family:arial;"
            = f.hidden_field :selected_option,:value=>params[:member_selection]
          .promo_right_signup_bttn
            = f.submit "",:class=>"promo_signup_bttn_bg"
  .clr
#popup1.popupbox
  - if @member_choice.errors.any?
    %h2{:style=>"font-family:Trajan Pro,serif;"} #{@member_choice.errors.full_messages[0] rescue ""}
#popup2.popupbox
  %h2{:style=>"font-family:Trajan Pro,serif;margin-top: 90px;"} YOUR CURIOSITY WILL SOON BE REWARDED    
%script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"}
%script{:src => "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"}    
- if @member_choice.errors.any?
  :javascript
    $("#popup1").dialog({ modal:true ,resizable: false,position: [520,287]});
- if @email_saved == true
  :javascript
    $("#popup2").dialog({ modal:true ,resizable: false,position: [520,287], close: function(event, ui){go_to_home();} });
:javascript
  function go_to_home()
  {
  }
